h1{
	color:#2f85bd;

}
body{
	background-color:#ebf1f1;
}
table{	
	border: 5px solid purple;
}
.button1{
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
.button:hover{
	background-color:black;
	color:white;
}

